{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    {{ render_chart(chart, {'data-controller': 'hello'}) }}
</div>
{% endblock %}
