{% extends 'base.html.twig' %}

{% block title %}Tracking vehicle{% endblock %}

{% block body %}
    <script type="application/json" id="mercure-url">
        {{ mercure(mercure_url)|json_encode(constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_HEX_TAG'))|raw }}
    </script>
    <div class="container">
        <div class="row">
            <h3>Current data</h3>
            <div class="col-12" data-controller="track">
                <span id="speed" class="text-start"></span><span> km/h</span>
                <span id="rpm" class="text-end"></span><span> rpm</span>
            </div>
        </div>
        <hr>
        <div class="row">
            <h3>Data charts</h3>
            {% for dataType, chart in charts %}
                <div class="col-sm-12 col-lg-6">
                    {{ render_chart(chart, {'data-controller': 'chart', 'data-data-type' : dataType}) }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
